.statistics-container {
  box-shadow: 0 0 10px gray;
  width: 400px;
  padding: 30px;
}

.statistics-heading {
  font-size: 23px;
  font-weight: 700;
}

.data-container {
  margin-top: 10px;
  display: flex;
  gap: 30px;
}

.data-title {
  width: 50%;
  font-size: 18px;
  font-weight: 600;
}
