.layout-container {
  width: 100svw;
  height: 100svh;
  overflow: hidden;
}

.main-layout {
  width: 100%;
  height: calc(100% - 70px);
  overflow: hidden;
  overflow-y: auto;
  padding: 30px;
}

.main-layout::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main-layout {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.table-section {
  margin: auto;
}

.pagination-layout {
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.data-section {
  display: flex;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
